button.primary {
    padding: 10px;
    border: solid 1px var(--primary-color);
    background: var(--primary-color);
    color: white;
    border-radius: 8px;
  }

  input[type="text"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 70%;
  }
  
  input[type="email"] {
    border: solid 1px var(--primary-color);
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 70%;
 }

 .form-group {
  margin-bottom: 30px; 
}

label {
  display: block; /* Para que el label aparezca encima del input */
  margin-bottom: 4px; 
}

input {
  padding: 8px;
  box-sizing: border-box; /* Para que el padding no afecte el tamaño total del input */
}


  