<section class="create-container">
  <h2>Create new housing</h2>

  <form [formGroup]="housingForm" (ngSubmit)="onSubmit()">

    <label>
      Name *
      <input type="text" formControlName="name" />
      <div class="error" *ngIf="backendErrors?.name; else nameLocalError">
        {{ backendErrors.name }}
      </div>
      <ng-template #nameLocalError>
        <span class="error" *ngIf="housingForm.controls['name'].invalid && housingForm.controls['name'].touched">
          Name is required
        </span>
      </ng-template>
    </label>

    <label>
      City *
      <input type="text" formControlName="city" />
      <div class="error" *ngIf="backendErrors?.city; else cityLocalError">
        {{ backendErrors.city }}
      </div>
      <ng-template #cityLocalError>
        <span class="error" *ngIf="housingForm.controls['city'].invalid && housingForm.controls['city'].touched">
          City is required
        </span>
      </ng-template>
    </label>

    <label>
      Country *
      <input type="text" formControlName="country" />
      <div class="error" *ngIf="backendErrors?.country; else countryLocalError">
        {{ backendErrors.country }}
      </div>
      <ng-template #countryLocalError>
        <span class="error" *ngIf="housingForm.controls['country'].invalid && housingForm.controls['country'].touched">
          Country is required
        </span>
      </ng-template>
    </label>

    <label>
      Available units
      <input type="number" formControlName="availableUnits" min="0" />
      <div class="error" *ngIf="backendErrors?.availableUnits; else availableUnitsLocalError">
        {{ backendErrors.availableUnits }}
        </div>
        <ng-template #availableUnitsLocalError>
          <span class="error" *ngIf="housingForm.controls['availableUnits'].invalid && housingForm.controls['availableUnits'].touched">
            Available units must be a non-negative number
          </span>
        </ng-template>
    </label>

    <label>
      Bedrooms
      <input type="number" formControlName="bedrooms" min="0" />
      <div class="error" *ngIf="backendErrors?.bedrooms; else bedroomsLocalError">
      {{ backendErrors.bedrooms }}
    </div>
    <ng-template #bedroomsLocalError>
      <span class="error" *ngIf="housingForm.controls['bedrooms'].invalid && housingForm.controls['bedrooms'].touched">
        Bedrooms must be a non-negative number
      </span>
    </ng-template>
    </label>

    <label>
      Photo URL
      <input type="text" formControlName="photo" />
    </label>

    <div class="checkbox-group">
      <label>
        <input type="checkbox" formControlName="wifi" />
        Wifi
      </label>

      <label>
        <input type="checkbox" formControlName="laundry" />
        Laundry
      </label>

      <label>
        <input type="checkbox" formControlName="parking" />
        Parking
      </label>
    </div>

    <button type="submit" [disabled]="housingForm.invalid">
      Create housing
    </button>
  </form>
</section>